<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="overflow-y: scroll; display:block;">
    <div class="modal-dialog modal-lg bg-dark" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light" style="height: 70px">
          <h2 class="modal-title">{{ titulo }}</h2>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="btn btn-outline-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">

            <div class="row">
              <div class="container centerPhoto">
                <div class="row align-items-center">
                  <div class="col-sm-6">
                    <ul *ngIf="cliente" class="list-group text-dark mb-3 align-content-center" style="width: 350px">
                      <li class="list-group-item active">{{cliente.clientName}}</li>
                      <li class="list-group-item">{{cliente.lastName}}</li>
                      <li class="list-group-item">{{cliente.email}}</li>
                      <li class="list-group-item">{{cliente.createAt | date:"fullDate"}}</li>
                      <li class="list-group-item">{{cliente.region.region_name}}</li>
                    </ul>

                    <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="input-group mb-3">
                      <div class="custom-file">
                        <input (change)="selectFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04"
                               aria-describedby="inputGroupFileAddon04">
                        <label *ngIf="!selectedImage" class="custom-file-label" for="inputGroupFile04">Seleccionar
                          foto</label>
                        <label *ngIf="selectedImage" class="custom-file-label"
                               for="inputGroupFile04">{{selectedImage.name}}</label>
                      </div>
                      <div class="input-group-append" style="height: 35px">
                        <button (click)="uploadFoto()" [disabled]="!selectedImage" class="btn btn-outline-secondary"
                                type="button" id="inputGroupFileAddon04">Subir
                        </button>
                      </div>
                    </div>
                    <div *ngIf="progress > 0" class="progress" style="height: 40px;">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progress+'%'}"
                           attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                        {{progress}}%
                      </div>
                    </div>

                  </div>

                  <img *ngIf="cliente?.photo" src="{{urlEndPointUploadImg}}/{{cliente.photo}}"
                       alt="{{cliente.photo}}" class="img-thumbnail rounded centerPhoto">
                  <img *ngIf="!cliente?.photo" src="{{urlEndPointImg}}/noPhoto.png"
                       alt="Sin Imagen" class="img-thumbnail rounded centerPhoto">
                </div>
              </div>
            </div>
            <div *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button (click)="closeModal()"  type="button" name="buttonNewFactura" [routerLink]="['/facturas/form', cliente.id]"
                      class="btn btn-success btn-sm m-1">Crear Factura
              </button>
            </div>
            <div class="row">
              <div *ngIf="cliente.facturas.length==0" class="alert alert-info my-4">
                No hay facturas asignadas para el cliente {{cliente.clientName}} {{cliente.lastName}}
              </div>
              <table *ngIf="cliente.facturas.length>0"
                     class="table table-bordered table-striped my-4 align-items-center">
                <thead>
                <tr>
                  <th>Nº Factura</th>
                  <th>Descripción</th>
                  <th>Fecha</th>
                  <th>Total</th>
                  <th>Detalle</th>
                  <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let factura of cliente.facturas">
                  <td class="align-center">{{factura.id}}</td>
                  <td>{{factura.description}}</td>
                  <td>{{factura.createAt}}</td>
                  <td>{{factura.total}}</td>
                  <td>
                    <button (click)="closeModal()"  class="btn btn-primary btn-sm m-1" type="button" [routerLink]="['/facturas',factura.id]">
                      Ver Detalle
                    </button>
                  </td>
                  <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button class="btn btn-danger btn-sm m-1" type="button" (click)="delete(factura)">
                      Eliminar
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
