<ul *ngIf="errors?.length > 0" class="alert alert-danger">
  <li *ngFor="let err of errors">
    {{err}}
  </li>
</ul>
<div class="pad">
  <div class="card bg-secondary text-white">
    <div class="card-header bg-dark" *ngIf="!cliente.id else elseBlockTitle">Crear</div>
    <ng-template #elseBlockTitle>
      <div class="card-header">{{titleEdit}}</div>
    </ng-template>


  <div class="card-body bg-dark text-white">
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="clientName" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.clientName" name="clientName" #name="ngModel"> <!-- required minlength="3" -->
          <!-- dirty valida mentras se va escribiendo y touched cuando te sales del foco-->
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Introduce el nombre del cliente
            </div>
            <div *ngIf="name.errors.minlength">
              El nombre debe tener al menos 3 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastName" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.lastName" name="lastName" #lastname="ngModel"> <!-- required -->
          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
            <div *ngIf="lastname.errors.required">
              Introduce el apellido del cliente
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required email -->
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Introduce el email del cliente
            </div>
            <div *ngIf="email.errors.email">
              Se debe introducir un email valido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha Registro</label>
        <div class="col-sm-6">
          <input [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display: inline; width: 150px;">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Región</label>
        <div class="col-sm-6">
          <select [compareWith]="compareRegions" class="form-control" [(ngModel)]="cliente.region" name="region" style="width: 250px;">
            <option [ngValue]="undefined">--- Selecionar una región ---</option>
            <option *ngFor="let region of regions" [ngValue]="region">{{region.region_name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button *ngIf="!cliente.id else elseBlock" class="btn btn-primary" role="button" (click)="create()" [disabled]="!clienteForm.form.valid">Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>

    </form>
  </div>
</div>
</div>
